<!DOCTYPE html>
<html lang="en">
<head>
        <style>
      .container{
      display:block;
      }
      .a,.b{
      flex:5;
      padding:40px;
      text-align:center;
      }
      textarea{
      border:2px solid ;
      border-radius:5px;
      padding:5px;
      font-size:14px;
      }
    </style>
    <meta charset="UTF-8">
    <title>news</title>
</head>
<form method="post">{% csrf_token %}
<body>
<div class="a">
        <label>topic</label><br>
        <input type="text" name="topic" value="{{a.topic}}">
    </div>

    <div class="b">
    <label for="ab">Content</label><br>
    <textarea rows="5" cols="20" id="ab" name="content" value="{{a.content}}"></textarea>
    </div>
<center><input type="submit" value="edit"></center>
</form>
</body>
</html>
