<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image:url({% static 'pexels-flickr-148523.jpg' %});background-repeat: no-repeat;background-size: 100% 800px;background-attachment: fixed;">
    <center><h2 align="center" style="color:white; margin-top:100px;">YOUR CURRENT BALANCE</h2>
    <h4 style="color:white;">Current Balance of your Account Number {{acc}} is {{bal}}</h4>
        </center>
</body>
</html>